.Main-front {
    width: 100%;
    height: 100vh;
}

.background-main {
    padding-top: 90px;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 500px;
}

.background-main > .background-image-div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    max-width: 700px;
    min-width: 400px;
    padding-left: 30px;
    padding-right: 30px;
}

.background-main > .background-text-left {
    padding-left: 100px;
    font-family: 'Baloo 2';
    font-weight: bold;
    font-size: 4vw;
    text-align: right;
}

.background-main > .background-text-right {
    margin-right: 10px;
    font-family: 'Baloo 2';
    font-weight: bold;
    font-size: 4vw;
    padding-right: 125px;
}

@media screen and (min-width: 1600px) {
    .background-main > .background-text-left {
        font-size: 70px;
    }
    .background-main > .background-text-right {
        font-size: 70px;
    }
}

@media screen and (max-width: 1300px) {
    .background-main > .background-text-left {
        font-size: 50px;
    }
    .background-main > .background-text-right {
        font-size: 50px;
    }
}

.background-main > .background-image-div > .background-image {
    width: 100%;
}

.IntroductionPage {
    margin-left: 260px;
    margin-right: 200px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-family: 'Baloo 2', sans;
    height: 38vh;
    min-height: 400px;
}

.IntroductionPage > .Main-text {
    font-size: 50px;
    font-weight: bold;
}

.IntroductionPage > .Main-para {
    font-size: 25px;
}

@media screen and (min-width: 1650px){
    .background-main {
        padding-top: 135px;
    }
    .background-main > .background-image-div {
        padding-left: 60px;
        padding-right: 60px;
    }
}

@media screen and (min-width: 2000px) {
    .background-main {
        min-height: 800px;
    }
    .IntroductionPage {
        min-height: 500px;
    }
}
