.background-main {
    background: #f5f5f5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    height: 100vh;
    min-height: 700px;
}

.backgroundPage-left {
    text-align: right;
    font-weight: bold;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial, Sans-serif;
    padding-right: 100px;
    padding-left: 130px;
    margin-top: 220px;
    margin-bottom: 100px;
}

.backgroundPage-left-up {
    font-size: 2em;
}

.backgroundPage-left-down {
    font-size: 3em;
}

.backgroundPage-left-down > .backgroundPage-left-lowest {
    padding-top: 15px;
    width: 465px;
    text-align: justify;
    font-weight: 200;
    font-size: 20px;
    float: right;
}

.backgroundPage > .background {
    max-width: auto;
    height: 450px;
    padding-right: 100px;
    margin-top: 100px;
}

/* @media screen and (max-width: 1130px) {
    .backgroundPage > .background {
        display: none;
    }

    .background-main {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        align-items: center;
    }

    .backgroundPage-left {
        text-align: center;
    }

    .backgroundPage-left-down {
        display: none;
    }
} */

@media screen and (max-width: 1360px) {
    .backgroundPage > .background {
        max-width: 70%;
        height: auto;
    }
}

@media screen and (max-width: 1270px) {
    .backgroundPage-left-up {
        font-size: 1.5em;
    }

    .backgroundPage-left-down {
        font-size: 2.5em;
    }

    .backgroundPage-left {
        padding-right: 60px;
    }

    .backgroundPage-left-down > .backgroundPage-left-lowest {
        width: 100%;
        font-size: 20px;
    }
}

@media screen and (min-width: 1600px) {
    .background-main {
        min-height: 1000px;
    }

    .backgroundPage-left {
        padding-right: 160px;
    }

    .backgroundPage-left-up {
        font-size: 3em;
    }

    .backgroundPage-left-down {
        font-size: 4em;
    }

    .backgroundPage-left-down > .backgroundPage-left-lowest {
        width: 575px;
        font-size: 23px;
    }

    .backgroundPage > .background {
        height: auto;
        max-width: 75%;
    }
}

@media screen and (min-width: 2100px){
    .backgroundPage-left {
        padding-right: 190px;
    }
    .backgroundPage-left-up {
        font-size: 3.5em;
    }

    .backgroundPage-left-down {
        font-size: 4.5em;
    }

    .backgroundPage-left-down > .backgroundPage-left-lowest {
        width: 650px;
    }

    .backgroundPage > .background {
        height: auto;
        max-width: 800px;
    }
}
