.fixed-line-right {
    position: fixed;
    bottom: 0;
    right: 50px;
    width: 2px;
    height: 200px;
    background-color: black;
}

.ReactLogo{
    cursor: pointer;
    position: fixed;
    bottom: 210px;
    right: 11px;
    rotate: 90deg;
}

.PythonLogo{
    cursor: pointer;
    position: fixed;
    bottom: 290px;
    right: 11px;
    rotate: 90deg;
}

.PostgreLogo{
    cursor: pointer;
    position: fixed;
    bottom: 380px;
    right: 11px;
    rotate: 90deg;
}

@media screen and (min-width: 1700px) {
    .fixed-line-right {
        right: 80px;
    }

    .PythonLogo, .PostgreLogo, .ReactLogo {
        right: 41px;
    }
}
