.navbar-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    height: 92px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar-content > .left-content {
    color: white;
    font-size: 2em;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 28px;
    margin-top: 20px;
    padding-bottom: 10px;
}

.navbar-content > .left-content > img {
    padding-right: 10px;
}

.navbar-content > .center-content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding-bottom: 10px;
    /* padding-left: 750px;
    padding-right: 750px; */
}

.navbar-content > .center-content > a {
    margin: 0 1em;
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.navbar-content > .right-content {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

.navbar-content > .right-content > .social-link {
    margin: 0 0.3em;
}

@media (max-width: 1180px) {
    .navbar-content {
        width: 100%;
        justify-content: space-between;
    }

    .navbar-content > .left-content {
        margin-right: auto;
        padding-left: 10px;
    }

    .navbar-content > .right-content {
        margin-left: auto;
        padding-right: 10px;
    }
}
