.AboutPage {
    height: 600px;
    width: 70%;
    /* background: #ffa500; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.About-Information{
    padding: 50px;
    height: 450px;
    width: 550px;
    /* background: rgb(4, 3, 75); */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: justify;
}

.About-Heading {
    font-size: 55px;
    font-weight: bold;
    font-family: 'Baloo 2';
}

.About-Paragraph-1, .About-Paragraph-2, .About-Paragraph-3 {
    font-size: 18px;
    margin-top: 20px;
}

.About-Photo {
    /* background: rgb(0, 204, 255); */
    margin-top: 90px;
}
