.AboutPage {
    height: 100vh;
    min-height: 800px;
    width: 80%;
    /* background: #ffa500; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.About-Information{
    padding: 50px;
    width: 500px;
    /* background: rgb(4, 3, 75); */
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: justify;
}

.About-Heading {
    font-size: 55px;
    font-weight: bold;
    font-family: 'Baloo 2';
}

.About-Paragraph-1, .About-Paragraph-2, .About-Paragraph-3, .About-Paragraph-4 {
    font-size: 18px;
    margin-top: 20px;
}

.About-Paragraph-5 {
    margin-top: 15px;
    display: flex;

}

.first-list > ul, .second-list > ul {
    list-style-type: square;
}

.second-list {
    margin-left: 100px;
}
